#about-us-detailed {
    margin-top: 100px;
}

#about-us-detailed .caption::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: url("../img/background-strip.jpg");
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center center;
    z-index: -1;
}

#about-us-detailed .caption {
    position: relative;
    top: 0;
    left: 0;

    width: 100%;
    height: 100px;

    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(75, 76, 99, 0.5);
    color: white;
}

#about-us-detailed .container {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.container img {
    width: 100%;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.content p {
    margin-block: 20px;
}

.content .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: #3c3c3c;
}

.signature {
    font-family: "Arizona";
    font-size: 40px;
    float: right;
}



/* MEDIA QUERIES */
@media screen and (min-width: 1200px) {
    #about-us-detailed .container {
        width: 1200px;
    }

    .container img {
        width: 500px;
        float: none;
    }
}