.content-wrapper {
    display: flex;
    justify-content: center;
}

.content-container {
    width: 300px;
    height: auto;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    text-align: center;
}

#about-us,
#services,
#references,
#contact {
    border: 1px solid black;
}

/* SERVICES */
.service-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services .service-container {
    margin-bottom: 40px;
}

.section-heading {
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: 200px;
}

.svg-icon {
    display: block;
    width: 100px;
    height: 100px;
}

.icon-caption {
    font-weight: bold;
}

.reference-logo {
    display: block;
    width: 200px;
}

.reference-logo {
    margin-bottom: 50px;
}

/* REFERENCES */
.testimonial {
    margin-bottom: 50px;
    box-shadow: 5px 5px 5px #3b3b3b;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
}

/* .comment-container {
    display: flex;
} */

.quote-icon {
    width: 50px;
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
    shape-outside: circle(25%);
}

.testimonal-comment {
    text-align: left;
}

.testimonial-name {
    margin-top: 20px;
    font-weight: bold;
}

/* CONTACT */
.location {
    width: 100%;
    height: 200px;
}