/* GENERAL */
#about-us,
#services,
#why-us,
#references,
#testimonials,
#contact {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-inline: auto;
}

#about-us .container,
#services .container,
#why-us .container,
#references .container,
#testimonials .container,
#contact .container {
    width: 300px;
}

.section-heading {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #1D3E53;
}

/* ABOUT US */
#about-us .container {
    display: block;
    text-align: center;
}

#about-us .content>*:not(:last-child) {
    margin-bottom: 25px;
}

#about-us .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: #3c3c3c;
}

#about-us a {
    background-color: #00AF8F;
    color: #fff;

    padding: 15px 30px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

#about-us img {
    margin-top: 50px;
    width: 300px;
}

#about-us p {
    font-size: 17px;
}

/* WHY US */
#why-us .container {
    margin-top: 30px;
}

#why-us ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#why-us li {
    width: 100%;
    background-color: #eff2ff;
    padding: 20px;
    padding-top: 30px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 0px #1c1c1c;
    margin-block: 15px;
    margin-inline: 5px;
    position: relative;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    z-index: 2;
    box-sizing: border-box;
}

#why-us li::before {
    content: "";
    width: 100%;
    height: 20px;
    background-color: rgb(4 0 61);
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 5px 5px 0px 0px;
}

#why-us li:hover {
    box-shadow:
        -3px 3px 5px 0px #3f3f3f,
        -2px 3px 5px 0px #1c1c1c;
    transform: perspective(1000px) rotateY(10deg);
    transform-origin: center;
}

#why-us .list-heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 18px;
}

#why-us .list-number {
    width: 50px;
    height: 50px;
    background-color: rgb(4 0 61);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
}

#why-us .list-number {
    font-size: 25px;
    color: whitesmoke;
}

/* SERVICES */
#services {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    padding: 120px 0px;
    padding-top: 160px;
    margin-top: -120px;
    /* background-image: url(https://images.pexels.com/photos/2569839/pexels-photo-2569839.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
    background-image: url("../img/services-1920x1080.jpg");
    z-index: 0;
}

#services:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.80;
    /* background-color: rgb(4, 0, 61); */
    background-color: rgb(4 0 61 / 75%);
    z-index: -1;
}

#services .section-heading {
    color: #eff2ff;
}

#services .container {
    text-align: center;
}

#services .description {
    margin-block-end: 20px;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 50px;
}

#services .description p {
    line-height: 52px;
    letter-spacing: 0.25rem;
    font-size: 36px;
    margin-bottom: 30px;
}

.service-list {
    display: block;
}

.service {
    margin: 20px 50px;
    gap: 10px;
    padding: 40px 20px 30px;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    background: linear-gradient(#1C0060, #1C0060 50%, #00D09B 50%, #00D09B);
    background-size: 100% 200%;
    transition: background 0.8s;
    border-radius: 5px;
}

.service:hover {
    background-position: 100% 100%;
}

.service:hover .icon-container {
    transform: rotateY(180deg);
}

.icon-container {
    position: relative;
    text-align: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;

    background-color: rgb(13, 0, 61);
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.icon-container::before {
    position: absolute;
    content: "";
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    border-radius: 50px;
    border: 2px dashed white;
}

.icon-container-front,
.icon-container-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.icon-container-front {
    background-color: rgb(13, 0, 61);
}

.icon-container-back {
    background-color: #04725A;
    transform: rotateY(180deg);
}

.icon-container img {
    width: 36px;
    height: 36px;
    filter: invert(100%);
}

#services .content h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.1rem;
}

/* REFERENCES */
#references .container {
    text-align: center;
    margin-block: 50px;
}

.company-logo-list {
    display: flex;

    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-block: 5px;
    transform: translate3d(-1800px, 0px, 0px);
    width: 4500px;
    transition: transform 0.5s ease-in-out;
}

.notransition-carousel {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.company-logo-list img {
    width: 150px;
    object-fit: contain;
}

.carousel-item {
    display: flex;
    width: 300px;
    height: 160px;
    margin-inline: 12px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
    filter: grayscale(50%);
    transition: all 200ms ease;
}

.carousel-item:hover {
    filter: grayscale(0%);
}

.nav-btn {
    cursor: pointer;
    position: absolute;
    user-select: none;
    top: 50%;
    transform: translateY(-50%);
    color: #f4f4f4;
    background-color: #242424;
    padding: 20px;
    border-radius: 50px;
    z-index: 1;
}

.nav-btn p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev-btn {
    left: 0;
}

.prev-btn p {
    left: 15px;
}

.next-btn {
    right: 0;
}

.next-btn p {
    right: 15px;
}

/* TESTIMONIALS */
#testimonials::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    /* background-color: #dddddd; */
    /* background-color: #010465; */
    background-color: #01046540;
    /* opacity: 0.4; */
}

#testimonials {
    --blockquote-margin-top: 40px;

    /* background-image: url("../img/testimonials-1920x1000.jpg"); */
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    background-attachment: fixed;

    position: relative;
    background-size: cover;
    padding-block: 150px;
}

#testimonials .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.testimonial {
    background-color: #F5F9FF;
    box-shadow: 3px 3px 5px 0px #4a4a4a;
    padding: 0px 15px 15px 15px;
    border-radius: 20px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.3s ease-in-out;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

.testimonial:hover {
    box-shadow: 10px 10px 10px 0px #636363;
    top: -10px;
    left: -10px;
}

.testimonial p {
    background-color: rgb(56 27 83);
    color: white;

    font-size: 16px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;

    position: absolute;
    top: -20px;
    left: auto;
    padding: 15px 20px;
}

blockquote {
    font-size: 15px;
    line-height: 30px;
    padding-top: 10px;
    margin-top: var(--blockquote-margin-top);
}

.testimonial:nth-of-type(3) blockquote {
    margin-top: calc(var(--blockquote-margin-top) + 30px);
}

blockquote::before,
blockquote::after {
    font-size: 42px;
    position: relative;
    color: rgb(56 27 83);
    line-height: 10px;
    bottom: -17px;
}

blockquote::before {
    content: "❝";
    right: 5px;
}

blockquote::after {
    content: "❞";
    left: 5px;
}

/* CONTACT */
#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-and-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-info {
    text-align: center;
}

.contact-info li:not(:last-of-type) {
    margin-bottom: 30px;
}

.contact-info ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info img {
    height: 40px;
    width: 40px;
    filter: invert(30%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.contact-info li:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .container hr {
    border: 1px solid rgb(171, 171, 171);
    margin-block: 30px;
    margin-inline: 0px;
    width: 150px;
    height: 0px;
}

#contact .container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    border: 1px solid #F2F1F9;
    border-radius: 4px;
    font-size: 16px;
    background-color: #F2F1F9;
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: #3D5CD1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2045cd;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 50px;
}



/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {

    /* GENERAL */
    #about-us .container,
    #services .container,
    #why-us .container,
    #references .container,
    #testimonials .container,
    #contact .container {
        width: 1200px;
    }

    /* ABOUT US */
    #about-us .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    #about-us .content {
        width: 700px;
        text-align: left;
        margin-bottom: 0px;
    }

    #about-us img {
        width: 500px;
        margin-top: 0px;
    }

    /* WHY US */
    #why-us ul {
        flex-direction: row;
    }

    /* SERVICE */
    .service-list {
        display: flex;
        flex-direction: row;
    }

    /* REFERENCES */
    .company-logo-list {
        flex-direction: row;
    }

    /* TESTIMONIALS */
    #testimonials .container {
        flex-direction: row;
        gap: 20px;
    }

    .testimonial:nth-of-type(3) blockquote {
        margin-top: var(--blockquote-margin-top);
    }

    .testimonial p {
        left: -10px;
        text-align: left;
    }

    /* CONTACT */
    .contact-info-and-form {
        display: flex;
        flex-direction: row;
    }

    #contact .container hr {
        margin-inline: 30px;
        margin-block: 0px;
        height: 250px;
        width: 0px;
    }
}