@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito/Nunito-Medium.ttf");
}

@font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow/Barlow-Medium.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
    font-family: "Arizona";
    src: url("../fonts/Arizonia/Arizonia-Regular.ttf");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background-color: #F6F9FF;
}

p, a, blockquote, li {
    font-family: "Montserrat";
    line-height: 25px;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito";
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}