/* GENERAL */
footer {
    box-shadow: 0px -2px 2px #3b3b3b;
}

footer p,
footer a,
footer h1,
footer h2 {
    color: white;
}

footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

footer h2 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.footer-content-container {
    background-color: rgb(13, 25, 36);
    padding: 30px 10px 30px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOGO AND SOCIAL MEDIA */
.logo-and-social-media {
    margin-bottom: 40px;
}

.logo-container,
.follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.footer-content:nth-of-type(1) ul,
.footer-content:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER CONTACT INFO */
.footer-contact-info {
    width: 300px;
}

.footer-contact-info li {
    display: flex;
    align-items: center;
}

.footer-contact-info li:nth-of-type(1),
.footer-contact-info li:nth-of-type(2) {
    margin-block-end: 20px;
}

.footer-contact-info img, 
.follow-us img {
    filter: invert(100%);
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.footer-contact-info li div {
    display: flex;
    flex-direction: column;
}

/* COPYRIGHT */
.copyright {
    background-color: #151515;
    padding: 5px;

    display: flex;
    justify-content: center;
    font-size: 14px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {

    /* GENERAL */
    .footer-content-container {
        background-color: rgb(13, 25, 36);
        padding: 75px 100px 75px 100px;

        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .logo-and-social-media {
        margin-bottom: 0px;
    }

    .logo-container,
    .follow-us {
        display: block;
    }

    .footer-content {
        display: block;
        margin-bottom: 0px;
    }

    .footer-content:nth-of-type(1) ul,
    .footer-content:nth-of-type(2) ul {
        display: block;
    }
}