/* GENERAL */
footer {
    box-shadow: 0px -2px 2px #3b3b3b;
}

footer p,
footer a,
footer h1,
footer h2 {
    color: white;
}

footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

footer h2 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

.footer-content-container {
    background-color: #060d1a;
    padding: 30px 10px 30px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* LOGO AND SOCIAL MEDIA */
.logo-and-social-media {
    margin-bottom: 40px;
}

.logo-container,
.follow-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.logo-container p {
    max-width: 250px;
    text-align: center;
}

.footer-content {
    text-align: center;
    margin-bottom: 50px;
}

.footer-content ul {
    width: 180px;
}

.footer-content a {
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.3s ease-in-out;
}

.footer-content a:hover {
    color: rgb(204, 205, 220);
    left: 20px;
}

.footer-content a::before {
    content: "➤";
    transition: all 0.2s ease-in-out;

    color: #00AF8F;
    opacity: 0;

    position: absolute;
    left: -20px;
}

.footer-content a:hover::before {
    opacity: 1;
    transform: rotateX(180deg);
}

/* FOOTER CONTACT INFO */
.contact-footer-content h2 {
    text-align: center;
}

.footer-contact-info {
    width: 300px;
}

.footer-contact-info li {
    display: flex;
    align-items: center;
}

.footer-contact-info li:not(:last-of-type) {
    margin-block-end: 20px;
}

.footer-contact-info img,
.follow-us img {
    filter: invert(100%);
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.follow-us a:hover {
    filter: invert(25%);
}

.footer-contact-info li div {
    display: flex;
    flex-direction: column;
}

/* COPYRIGHT */
.copyright {
    background-color: #151515;
    padding: 5px;

    display: flex;
    justify-content: center;
    font-size: 14px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 1200px) {

    /* GENERAL */
    .footer-content-container {
        background-color: rgb(13, 25, 36);
        padding: 75px 100px 75px 100px;

        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .logo-and-social-media {
        margin-bottom: 0px;
    }

    .logo-container,
    .follow-us {
        display: block;
    }

    .logo-container p {
        text-align: left;
    }

    .footer-content {
        margin-bottom: 0px;
        text-align: left;
    }

    .contact-footer-content h2 {
        text-align: left;
    }
}