/* BACKGROUND BLUR */
.mobile-nav-background-layer {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0px;
    left: 100vw;

    transition: all 0.3s ease-out;
    z-index: 1;
}

.mobile-nav-background-layer.activated {
    background-color: #323232;
    opacity: 0.4;
    left: 0px;
}

/* BANNER */
.banner-container {
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    height: 100svh;

    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px #3b3b3b;

    color: white;
}

.banner-container img {
    width: 33.33%;
    height: 100%;

    object-fit: cover;
}

.banners {
    display: flex;
    transition: transform 0.5s ease;

    width: 300%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background: linear-gradient(#0B172C, #F5BE3A);
    opacity: 0.2;
}

.banner-img-selector {
    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);

    width: 80px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.img-selector {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 0px 2px 20px #3b3b3b;
    cursor: pointer;
}

.banner-message>* {
    position: relative;
    display: block;
}

.banner-message {
    width: 300px;

    position: absolute;
    left: 150vw;
    bottom: 50vh;
    transform: translate(-50%, 50%);
    padding: 30px;

    text-align: center;
    transition: all 0.4s ease-out;
    border-radius: 50px;

    color: hsla(0, 0%, 20%, 1);
    text-shadow: hsla(0, 0%, 40%, .5) 0 -1px 0, hsla(0, 0%, 100%, .6) 0 2px 1px;

    background-color: hsl(0, 0%, 90%);
    box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
        inset hsla(0, 0%, 15%, .8) 0 -1px 5px 4px,
        inset hsla(0, 0%, 0%, .25) 0 -1px 0px 7px,
        inset hsla(0, 0%, 100%, .7) 0 2px 1px 7px,

        hsla(0, 0%, 0%, .15) 0 -5px 6px 4px,
        hsla(0, 0%, 20%, 0.5) 0 5px 6px 4px;

    background-image: -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 2%, hsla(0, 0%, 100%, .1) 2.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0) 1%, hsla(0, 0%, 0%, .03) 1.5%),
        -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(0, 0%, 100%, 0) 0.4%, hsla(0, 0%, 100%, .15) 0.7%),

        linear-gradient(180deg, hsl(0, 0%, 78%) 0%,
            hsl(0, 0%, 90%) 45%,
            hsl(0, 0%, 78%) 55%,
            hsl(0, 0%, 70%) 100%);
}

.banner-message p {
    font-family: "Poppins";
}

.banner-message h1 {
    margin-bottom: 20px;
    font-family: "Barlow";
}

.banner-message a {
    text-align: center;
    font-size: 14px;

    margin-top: 10px;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    font-family: "Barlow", sans-serif;
    font-weight: bold;
    color: hsla(0, 0%, 20%, 1);
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    border-radius: 50px;
    box-shadow: inset hsla(0, 0%, 0%, 0.15) 0 -2px 0px,
        inset hsla(0, 0%, 100%, 0.3) 0 2px 1px,
        hsla(0, 0%, 0%, 0.2) 0 4px 6px -2px;

    &:hover {
        background-color: hsla(0, 0%, 85%, 0.2);
        transform: translateY(-2px);
        box-shadow: inset hsla(0, 0%, 0%, 0.15) 0 -2px 0px,
            inset hsla(0, 0%, 100%, 0.3) 0 2px 1px,
            hsla(0, 0%, 0%, 0.4) 0 6px 10px -4px;
    }
}


.display-message {
    left: 50vw;
}

/* HAMBURGER MENU */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 2px;

    box-shadow: 2px 2px 10px black;
    background-color: white;
    transition: all 0.3s ease-out;
}

.hamburger-menu.activated .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.activated .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.activated .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/* NAVIGATION */
.navigation-wrapper {
    width: 100%;
    height: 100px;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: transparent;
    transition: all 0.3s ease-out;
    box-shadow: "none";

    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
    z-index: 2;
}

.navigation-wrapper.scrolled {
    height: 80px;
    background-color: #0b172c;
    box-shadow: 0px 2px 20px #3b3b3b;
    backdrop-filter: blur(0px);

    z-index: 99;
}

.logo {
    color: white;
}

.navigation {
    position: absolute;
    right: -200px;
    top: 0px;
    opacity: 0;

    width: 150px;
    height: auto;
    padding-left: 20px;
    padding-bottom: 15px;
    z-index: -1;

    background-color: #0b172c;
    transition: all 0.3s ease-out;
    border-bottom-left-radius: 0px;
}

.navigation.activated {
    display: block;
    right: -1px;
    opacity: 1;
    border-bottom-left-radius: 30px;
    box-shadow: 2px 2px 10px black;
}

.navigation ul {
    padding: 0px;
    list-style-type: none;
    margin-top: 85px;
}

.navigation li {
    padding: 5px;
}

.navigation a {
    text-shadow: 2px 2px 16px black;
    color: white;
}

/* LANGUAGE SELECTION */
.language-desktop {
    position: relative;
    display: none;
}

.language-mobile {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.language-mobile div,
.language-desktop div {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.triangular-arrow {
    position: absolute;
    top: 30px;
    left: 30px;

    width: 20px;
    height: 20px;

    filter: invert(100%);
    transition: all 0.3s ease-out;
    opacity: 1;
}

.triangular-arrow.hidden {
    transform: rotate(-180deg);
}

.tr,
.en {
    position: absolute;
    top: 50px;
    left: 0px;
    opacity: 1;
}

.en img,
.tr img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.selected {
    position: static;
}

.hidden {
    opacity: 0;
    top: 0px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {

    /* HAMBURGER MENU */
    .hamburger-menu {
        display: none;
    }

    /* NAVIGATION */
    .navigation {
        position: static;
        display: block;
        opacity: 1;

        padding: 0px;
        width: 550px;
        height: auto;
        background-color: transparent;
    }

    .navigation ul {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
    }

    .navigation li {
        padding: 0px;
    }

    .navigation a {
        color: white;
    }

    .banner-message {
        width: 500px;
        text-align: left;
        transform: none;

        left: auto;
        right: -40vw;
        bottom: 100px;
    }

    .display-message {
        right: 100px;
    }

    /* LANGUAGE SELECTION */
    .language-mobile {
        display: none;
    }

    .language-desktop {
        display: flex;
        align-items: center;
    }
}