#single-product {
    margin-top: 100px;
}

#single-product .container {
    width: 300px;
    margin-top: 30px;
}

.images-and-selectors {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
    width: 300px;
    float: none;
    margin-right: 0px;
}

.images {
    display: flex;
    overflow-x: hidden;
    border-radius: 10px;
}

.image {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
    position: relative;
    top: 0px;
    left: 0px;
    transform: scale(0.7);
}

.image.shown {
    transform: scale(1);
}

.selectors {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
}

.selectors div {
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
}

.product-info {
    margin-bottom: 50px;
}



/* MEDIA QUERIES */
@media screen and (min-width: 1200px) {
    #single-product .container {
        width: 1200px;
    }

    .images-and-selectors {
        width: 500px;
        float: left;
        margin-right: 40px;
    }
}