/* GENERAL */
#about-us,
#services,
#references,
#testimonials,
#contact {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-inline: auto;
}

#about-us .container,
#services .container,
#references .container,
#testimonials .container,
#contact .container {
    width: 300px;
}

.section-heading {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    color: #8380af;
}

/* ABOUT US */
#about-us .container {
    display: block;
    text-align: center;
}

#about-us button {
    background-color: #00AF8F;
    color: #fff;

    margin-top: 25px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}

#about-us img {
    margin-top: 50px;
    width: 300px;
}

/* SERVICES */
#services {
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0px;
    background-image: url(https://images.pexels.com/photos/2569839/pexels-photo-2569839.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    z-index: 0;
}

#services:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.80;
    background-color: rgb(4, 0, 61);
    z-index: -1;
}

#services .container {
    text-align: center;
}

#services .description {
    margin-block-end: 20px;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    margin-top: 50px;
}

#services .description p {
    line-height: 50px;
}

.service-list {
    display: block;
}

.service {
    margin: 20px 50px;
    gap: 10px;
    padding: 40px 20px 30px;
    max-width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    background: linear-gradient(#1C0060, #1C0060 50%, #00D09B 50%, #00D09B);
    background-size: 100% 200%;
    transition: background 0.8s;
}

.service:hover {
    background-position: 100% 100%;
}

.service:hover .icon-container {
    transform: rotateY(180deg);
}

.icon-container {
    position: relative;
    text-align: center;

    width: 70px;
    height: 70px;
    border-radius: 50%;

    background-color: rgb(13, 0, 61);
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.icon-container::before {
    position: absolute;
    content: "";
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
    border-radius: 50px;
    border: 2px dashed white;
}

.icon-container-front,
.icon-container-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

}

.icon-container-front {
    background-color: rgb(13, 0, 61);
}

.icon-container-back {
    background-color: #04725A;
    transform: rotateY(180deg);
}

.icon-container img {
    width: 36px;
    height: 36px;
    filter: invert(100%);
}

#services .content h3 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 25px;
}

/* REFERENCES */
#references .container {
    text-align: center;
}

.company-logo-list {
    display: flex;
    
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 5px;
    transform: translate3d(-1800px, 0px, 0px);
    width: 4500px;
    transition: transform 0.5s ease-in-out;
}

.notransition-carousel {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

.company-logo-list img {
    width: 150px;
    object-fit: contain;
}

.carousel-item {
    display: flex;
    width: 300px;
    height: 160px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
    justify-content: center;
    filter: grayscale(70%);
    transition: all 200ms ease;
}

.carousel-item:hover {
    filter: grayscale(0%);
}

.nav-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #333;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* TESTIMONIALS */
#testimonials::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    background-color: #dddddd;
    opacity: 0.4;
}

#testimonials {
    --blockquote-margin-top: 40px;

    background-image: url("../img/testimonials-1920x1000.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center center;
    background-attachment: fixed;

    position: relative;
    background-size: cover;
    padding-block: 150px;
}

#testimonials .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.testimonial {
    background-color: #F5F9FF;
    box-shadow: 3px 3px 5px 0px #4a4a4a;
    padding: 0px 15px 15px 15px;
    border-radius: 20px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.3s ease-in-out;
    position: relative;
    top: 0px;
    left: 0px;
}

.testimonial:hover {
    box-shadow: 10px 10px 10px 0px #636363;
    top: -10px;
    left: -10px;
}

.testimonial p {
    background-color: #003637;
    color: white;

    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;

    position: absolute;
    top: -20px;
    left: auto;
    padding: 15px 20px;
}

blockquote {
    line-height: 30px;
    margin-top: var(--blockquote-margin-top);
}

.testimonial:nth-of-type(3) blockquote {
    margin-top: calc(var(--blockquote-margin-top) + 30px);
}

blockquote::before,
blockquote::after {
    font-size: 42px;
    position: relative;
    color: #9a4f4f;
    line-height: 10px;
    bottom: -17px;
}

blockquote::before {
    content: "❝";
    right: 5px;
}

blockquote::after {
    content: "❞";
    left: 5px;
}

/* CONTACT */
#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-and-form {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.contact-info {
    text-align: center;
}

.contact-info li:not(:last-of-type) {
    margin-bottom: 30px;
}

.contact-info ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info img {
    height: 40px;
    width: 40px;
    filter: invert(30%) sepia(100%) hue-rotate(190deg) saturate(500%);
}

.contact-info li:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .container hr {
    border: 1px solid black;
    margin-block: 30px;
    margin-inline: 0px;
}

#contact .container form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
    border: 1px solid #F2F1F9;
    border-radius: 4px;
    font-size: 16px;
    background-color: #F2F1F9;
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

input[type="submit"] {
    background-color: #3D5CD1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #2045cd;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    margin-top: 50px;
}



/* MEDIA QUERIES */

@media screen and (min-width: 1200px) {

    /* GENERAL */
    #about-us .container,
    #services .container,
    #references .container,
    #testimonials .container,
    #contact .container {
        width: 1200px;
    }

    /* ABOUT US */
    #about-us .container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    #about-us .content {
        width: 700px;
        text-align: left;
        margin-bottom: 0px;
    }

    #about-us img {
        width: 500px;
        margin-top: 0px;
    }

    /* SERVICE */
    .service-list {
        display: flex;
        flex-direction: row;
    }

    /* REFERENCES */
    .company-logo-list {
        flex-direction: row;
    }

    /* TESTIMONIALS */
    #testimonials .container {
        flex-direction: row;
        gap: 30px;
    }

    .testimonial:nth-of-type(3) blockquote {
        margin-top: var(--blockquote-margin-top);
    }

    .testimonial p {
        left: -10px;
        text-align: left;
    }

    /* CONTACT */
    .contact-info-and-form {
        display: flex;
        flex-direction: row;
    }

    #contact .container hr {
        margin-inline: 30px;
        margin-block: 0px;
    }

    input[type="text"],
    textarea {
        margin-bottom: 0px;
    }
}