/* HEADER */
.header {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #193353;
    color: white;
    font-size: 19px;

    box-sizing: border-box;
    padding: 10px;
}

.header ul {
    width: 500px;
    padding: 0px;

    list-style-type: none;
}

.header a {
    font-family: "Barlow_Semi_Condensed";
}

/* HAMBURGER MENU */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.hamburger-line-one,
.hamburger-line-two,
.hamburger-line-three {
    width: 30px;
    height: 2px;
    border: 1px solid black;
    background-color: white;
}