/* HEADER */
.header {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #193353;
    color: white;
    font-size: 19px;
}

.header-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    width: 500px;
    padding: 0px;

    display: flex;
    justify-content: space-around;

    list-style-type: none;
}

.header a {
    font-family: "Barlow_Semi_Condensed";
}

.header-languge {
    display: flex;
}



/* QUICK CONTACT INFO */
.quick-contact-info {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;

    background-color: black;
    color: white;
    font-size: 15px;
}

.quick-contact-info-content {
    width: 80%;

    display: flex;
    justify-content: space-between;

    /* background-color: blue; */
}

.single-quick-contact {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}